* {
    margin: 0;
    box-sizing: border-box;
    user-select: none;
}

.viewport {
    width: 100%;
    height: 100dvh;

    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #abb8c3;
}

#toolBar > * {
    margin: 5px;
}

/* credit to 
 * https://css-tricks.com/how-to-create-neon-text-with-css/
 * for this amazing color input template
 */
#title {
    color: black;
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #0fa,
        0 0 82px #0fa,
        0 0 92px #0fa,
        0 0 102px #0fa,
        0 0 151px #0fa;
  }

/* credit to 
 * https://codingartistweb.com/2021/09/styling-input-type-color-pure-css-tutorial/
 * for this amazing color input template
 */
#colorPicker {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100px;
  height: 100px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
#colorPicker::-webkit-color-swatch {
  border-radius: 15px;
  border: none;
}
#colorPicker::-moz-color-swatch {
  border-radius: 15px;
  border: none;
}

/* credit to 
 * https://www.w3schools.com/howto/howto_js_rangeslider.asp
 * for this amazing slider design
 */
 .slider {
    appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;  
    background: #fff;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    box-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #0fa,
    0 0 82px #0fa
  }
  
  .slider::-webkit-slider-thumb {
    appearance: none;
    width: 50px;
    height: 20px;
    border-radius: 10px; 
    background: #000;
    border: 1px black solid;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #000;
    cursor: pointer;
  }

/* credit to 
 * https://getcssscan.com/
 * for this amazing button design
 */
.toolBtn {
  background: #0fa;
  border: none;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  color: #000;
  cursor: pointer;
  display: inline-block;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.toolBtn:hover,
.toolBtn:active {
  background-color: orange;
  background-position: 0 0;
  color: #fff;
}

.toolBtn:active {
  opacity: .5;
}